<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!--数据库配置 -->
	<bean id="baseDAO" class="cn.hit.commission.dao.BaseHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>cn/hit/commission/po/Salesman.hbm.xml</value>
				<value>cn/hit/commission/po/Gunsmith.hbm.xml</value>
				<value>cn/hit/commission/po/Salesrecord.hbm.xml</value>
				<value>cn/hit/commission/po/Commission.hbm.xml</value>
				<value>cn/hit/commission/po/Products.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/commission_db" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<!-- 定义事务拦截切面 -->
	<aop:config>
		<aop:pointcut id="allServiceMethod"
			expression="execution(* cn.hit.commission.dao.*.*(..))" />
		<aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice" />
	</aop:config>

	<!--DAO -->
	<bean id="userDAO" class="cn.hit.commission.dao.UserDAO" parent="baseDAO" />
	<bean id="bossDAO" class="cn.hit.commission.dao.BossDAO" parent="baseDAO" />

	<!-- Service -->
	<bean id="userService" class="cn.hit.commission.service.UserService">
		<property name="dao" ref="userDAO" />
	</bean>
	<bean id="bossService" class="cn.hit.commission.service.BossService">
		<property name="dao" ref="userDAO" />
		<property name="bossDao" ref="bossDAO"></property>
	</bean>
	<bean id="loginService" class="cn.hit.commission.service.LoginService">
		<property name="dao" ref="userDAO" />
	</bean>

	<!-- Action 默认是单例形式，应设置为多例形式 -->
	<bean id="loginAction" class="cn.hit.commission.action.LoginAction"
		scope="prototype">
		<property name="service" ref="loginService" />
	</bean>
	<bean id="bossAction" class="cn.hit.commission.action.BossAction"
		scope="prototype">
		<property name="service" ref="bossService" />
	</bean>
	<bean id="userAction" class="cn.hit.commission.action.UserAction"
		scope="prototype">
		<property name="ser" ref="userService" />
	</bean>
	<bean id="saleAction" class="cn.hit.commission.action.SaleAction"
		scope="prototype">
		<property name="ser" ref="userService" />
		<property name="bossService" ref="bossService" />
	</bean>
	<bean id="pageRedirect" class="cn.hit.commission.action.PageRedirect"
		scope="prototype">
	</bean>

</beans>
